<!-- Navbar -->
<div class="navbar">
    <div class="logo">
        <img src="/data/images.png" alt="Logo">
    </div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Giới Thiệu</a></li>
        <li><a href="#">Tin Tức</a></li>
        <li><a href="#">Liên Hệ</a></li>
        <li><a asp-controller="HomeCustomer" asp-action="Order">Đặt Vé</a></li>
        <li><a asp-controller="Log" asp-action="Logout">Đăng Xuất</a></li>
    </ul>
</div>