<div id="header">
    <img src="path-to-your-logo" alt="Logo" class="logo">
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Liên hệ</a></li>
    </ul>
    <a class="btn btn-primary button-style" asp-controller="HomeCustomer" asp-action="Order" type="submit">Đặt vé ngay</a>
    <a class="btn btn-primary button-style" asp-controller="Log" asp-action="Logout" type="submit">Đăng xuất</a>
    
</div>