<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - The Zoo</title>
    <link rel="stylesheet" href="~/css/Index.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
</head>
<body>
    <div id="main">
        <partial name="HeaderLayout" />
    </div>
    <div class="container mt-4">
        @RenderBody()
    </div>
</body>
</html>
