
@{
    ViewData["Title"] = "Trang chủ";
}
<div class="jumbotron">
    <h1 class="display-4">Chào mừng đến với The Zoo</h1>
    <p class="lead">Khám phá và quản lý hệ thống động vật của chúng tôi với giao diện thân thiện và hiệu quả.</p>
    <hr class="my-4">
    <p>Bạn có thể quản lý các thông tin như động vật, nhân viên, vé, và khách tham quan một cách dễ dàng.</p>
    <a class="btn btn-primary btn-lg" href="/Login" role="button">Quản lý Động vật</a>
    <a class="btn btn-success btn-lg" href="/Tickets" role="button">Quản lý Vé</a>
    
</div>
