@model Zoo_template.Models.RegisterViewModel

<h2>Đăng Ký</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" type="number" />
        <span asp-validation-for="Age"></span>
    </div>
    <div>
        <label asp-for="Gender"></label>
        <select asp-for="Gender">
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
        </select>
        <span asp-validation-for="Gender"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit">Đăng ký</button>
</form>
