@{
    ViewData["Title"] ="Trang chủ";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Index.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <img src="#">
            <ul class="nav">
                <li><a href=" #">Home</a></li>
                <li><a href=" #">Giới thiệu</a></li>
                <li><a href=" #">Tin tức</a></li>
                <li><a href=" #">Liên hệ</a></li>
            </ul>
            <a class="btn btn-primary button-style" asp-action="Order" type="submit">Đặt vé ngay </a>
        </div>
        <div id="content">
            <h1>
                Tổng quan về sở thú
            </h1>
            <p>Thành lập vào năm 2015, ZooDoo Đà Lạt là một công viên động vật nằm tại thành phố Đà Lạt, một điểm đến du lịch nổi tiếng ở Việt Nam. Được thiết kế theo mô hình thân thiện tiêu chuẩn Úc duy nhất tại Việt Nam, công viên mang đến một trải nghiệm thú vị và hấp dẫn cho du khách mọi lứa tuổi.</p>
            <p>Với diện tích rộng lớn, ZooDoo Đà Lạt là nơi bảo tồn nhiều loài động vật quý hiếm được đưa về từ nước Úc xa xôi như ngựa lùn Pony, chim vành khuyên, cừu alpacas, chuột lang nước, và chuột túi (kangaroo) và nhiều loài khác. Chúng tôi đã thiết kế các khu vực động vật để mô phỏng môi trường sống tự nhiên của chúng, mang đến cho du khách một cái nhìn gần gũi về cuộc sống động vật.</p>
            <p>Ngoài việc khám phá các khu vực động vật, ZooDoo Đà Lạt còn có một quán cafe nhỏ xinh và khu cắm trại giữa đồi thông bạt ngàn đầy thơ mộng. Quán cafe ZooDoo Đà Lạt có tầm “view” nhìn ra thung lũng trong sương mờ, là nơi lý tưởng để bạn có thể thưởng thức các món ăn nhẹ và thư giãn giữa thiên nhiên trong xanh của Đà Lạt.</p>
            <p>Công viên cũng có các tiện ích và dịch vụ khác như nhà hàng, quầy thức ăn nhanh và cửa hàng quà lưu niệm. Du khách có thể thưởng thức các món ăn ngon và thức uống trong khi thư giãn sau khi khám phá công viên.</p>
            <img src="https://www.zoodoodalat.com/_next/image?url=%2Fassets%2Fimages%2Fzoodoo-intro.png&w=1920&q=75">
        </div>
        <div id="content1">
            <h1>Tầm nhìn và nhiệm vụ </h1>
            <p>Một trải nghiệm đặc biệt tại ZooDoo là bạn có thể tham gia vào hoạt động cho các bạn thú ăn. Điều này cho phép bạn tham gia trực tiếp vào quá trình chuẩn bị và cung cấp thức ăn cho các loài động vật.</p>
            <p>Một trải nghiệm đặc biệt tại ZooDoo là bạn có thể tham gia vào hoạt động cho các bạn thú ăn. Điều này cho phép bạn tham gia trực tiếp vào quá trình chuẩn bị và cung cấp thức ăn cho các loài động vật.Một trải nghiệm đặc biệt tại ZooDoo là bạn có thể tham gia vào hoạt động cho các bạn thú ăn. Điều này cho phép bạn tham gia trực tiếp vào quá trình chuẩn bị và cung cấp thức ăn cho các loài động vật. Một trải nghiệm đặc biệt tại ZooDoo.</p>
            <img src="https://www.zoodoodalat.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fanimals2.0db58364.png&w=640&q=75">
        </div>
        <div class="contact-section">
            <div class="contact-info">
                <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                <p><i class="ti-mobile"></i> 0979 11 00 07</p>
                <p><i class="ti-email"></i> hello@zoodoodalat.com</p>
                <p><i class="ti-location-pin"></i> Quốc lộ 27C, tiểu khu 94A, Đạ Nhim, Lạc Dương, Lâm Đồng</p>
                <h3>THEO DÕI CHÚNG TÔI TẠI</h3>
                <div class="social-icons">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-instagram"></i></a>
                    <a href="#"><i class="ti-tiktok"></i></a>
                </div>
            </div>
            <div class="map-section">
                <iframe src="https://www.google.com/maps/place/V%C6%B0%E1%BB%9Dn+th%C3%BA+ZooDoo/@@12.1120104,108.5835609,17z/data=!3m1!4b1!4m6!3m5!1s0x317108f65aa14ad9:0x7d971942e209c206!8m2!3d12.1120052!4d108.5861358!16s%2Fg%2F11g8p0ndfk?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D"
                        width="600"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>

            </div>
        </div>
    </div>
</body>
</html>