@{
    ViewData["Tilte"] = "Đặt vé";
    Layout = "~/Views/Shared/LayoutOrder.cshtml";
}
@model Customer
<div class=container">
    <form asp-controller="HomeCustomer" asp-action="Order" method="post">
        <h2>Điền thông tin mua vé</h2>

        <div class="form-group fullname">
            <label asp-for="Fullname">Họ tên</label>
            <input type="text" id="fullname" placeholder="Nhập họ tên">
            <span asp-validation-for="Fullname" class="text-danger"></span>
        </div>

        <div class="form-group gender">
            <label asp-for="Gender">Giới tính</label>
            <select id="gender">
                <option value="" selected disabled>Chọn giới tính</option>
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
                <option value="Other">Khác</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group phonenumber">
            <label asp-for="PhoneNumber">Nhập số điện thoại</label>
            <input type="text" id="phone" placeholder="Nhập số điện thoại">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group email">
            <label asp-for="Email">Email</label>
            <input type="text" id="email" placeholder="Nhập Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group typeofticket">
            <label asp-for="typeofTicket">Loại vé</label>
            <select id="typeofticket">
                <option value="" selected disabled>Chọn loại vé</option>
                <option value="Child">Trẻ em</option>
                <option value="Adult">Người lớn</option>
                <option value="ChildUnder1m3">Trẻ em dưới 1m3</option>
            </select>
            <div></div>
            <span asp-validation-for="typeofTicket" class="text-danger"></span>
        </div>

        <div class="form-group numberofticket">
            <label asp-for="numberofTicket">Số lượng vé</label>
            <input type="number" id="numberOfTickets" placeholder="Nhập số lượng">
            <span asp-validation-for="numberofTicket" class="text-danger"></span>
        </div>

        <div class="form-group password">
            <label asp-for="Password">Mật khẩu</label>
            <input type="password" id="password" placeholder="Nhập mật khẩu">
            <i id="pass-toggle-btn" class="fa-solid fa-eye-slash" onclick="togglePasswordVisibility()"></i>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group date">
            <label asp-for="Date">Chọn ngày</label>
            <input type="date" id="date" placeholder="Chọn ngày">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        
        <div class="form-group paymethod">
            <label asp-for="PayMethod">Phương thức thanh toán</label>
            <select id="paymethod">
                <option value="" selected disabled>Chọn phương thức thanh toán</option>
                <option value="QRcode">Mã QR</option>
                <option value="Offline">Thanh toán trực tiếp</option>
            </select>
            <div></div>
            <span asp-validation-for="PayMethod" class="text-danger"></span>
        </div>

        <div class="form-group submit-btn">
            <input asp-for="" type="button" value="Xác nhận">
        </div>

    </form>
</div>
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var passwordToggleBtn = document.getElementById("pass-toggle-btn");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleBtn.classList.remove("fa-eye-slash");
            passwordToggleBtn.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            passwordToggleBtn.classList.remove("fa-eye");
            passwordToggleBtn.classList.add("fa-eye-slash");
        }
    }
</script>